h1{
    font-size: 40px;
    color: white;
    background-color: darkred;
    border: solid red 5px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
}

h4{
    font-size: 20px;
    color: white;
    background-color: rgb(80,70,70);
    border: solid red 2px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
}

/* menu horizontal */

#menu ul{
    padding: 10px;
    margin:0;
    background-color: #2b1010;
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a{
    padding: 10px 30px;
    text-decoration: none;
    background-color: #ededed;
    display: inline-block;
    border-bottom: 3px solid #ededed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 50px;
}

#menu ul li a:hover{
    background-color: #b5d45d;
    color: #2d19e2;
    transition: 0.3s;
    border-bottom: 3px solid #ea0000;
}

/* menu vertical */

#menuv ul{
    padding: 20px 50px;
    margin-left:0;
    background-color: #2b1010;
    list-style-type: none;
    width: 150px;
}

#menuv ul li a{
    padding: 10px 40px;
    text-decoration: none;
    background-color: #ededed;
    display: block;
    border-bottom: 3px solid #ededed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    margin: 2px 0;
    color: #333;
    text-align: center;
}

#menuv ul li a:hover{
    background-color: #b5d45d;
    color: #2d19e2;
    transition: 0.3s;
    border-bottom: 3px solid #ea0000;
}

